# github codeowners file
#
# https://help.github.com/articles/about-codeowners/
#
*   @fabian-braun @jankeu @jan-xyz @rinde @lxwbr @urmaul @Felerius
/CODEOWNERS @fabian-braun @jankeu @jan-xyz @lxwbr @urmaul @Felerius
