[package]
name = "tinytime"
description = "Low overhead implementation of time-related concepts."
homepage = "https://github.com/moia-oss/tinytime.rs"
repository = "https://github.com/moia-oss/tinytime.rs"
documentation = "https://docs.rs/tinytime"
edition = "2021"
version = "0.1.3"
license = "MIT OR Apache-2.0"

[dependencies]
chrono = "0.4.23"
derive_more = "0.99.17"
lazy_static = "1.4.0"
regex = "1.7.1"
serde = { version = "1.0.152", features = ["derive"], default-features = false }

[dev-dependencies]
serde_test = "1.0.152"
serde_json = "1.0.91"
