[package]
name = "tinytime"
description = "Low overhead implementation of time-related concepts."
homepage = "https://github.com/moia-oss/tinytime.rs"
repository = "https://github.com/moia-oss/tinytime.rs"
documentation = "https://docs.rs/tinytime"
edition = "2021"
version = "0.9.2"
license = "MIT OR Apache-2.0"

[dependencies]
chrono = "0.4.31"
derive_more = "0.99.17"
lazy_static = "1.4.0"
regex = "1.10.2"
serde = { version = "1.0.193", features = ["derive"], default-features = false }
thiserror = "1.0.50"

[dev-dependencies]
serde_test = "1.0.176"
serde_json = "1.0.108"
