name: PR

on:
  pull_request:
    branches: ['*']

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1.0.7
        with:
          override: true
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v1
        with:
          sharedKey: debug-build
      - run: make test
  lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1.0.7
        with:
          toolchain: nightly-2023-01-26
          override: true
          components: rustfmt
      - uses: actions-rs/toolchain@v1.0.7
        with:
          override: true
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v1
        with:
          sharedKey: debug-build-nightly
      - run: make lint

